--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/vulkan
--only-binary=llama-cpp-python

llama-cpp-python[server]
cachetools==7.2.0
fastapi==0.141.1
fastmcp==4.0.5
httpx==0.28.1
matplotlib==3.11.2
numpy==2.5.3
pandas==3.0.6
protobuf
pydantic==2.13.5
python-dotenv==1.2.3
pyvi==0.1.1
sentence_transformers==6.0.1
SQLAlchemy==2.0.54
torch==2.14.0
tqdm==4.70.1
transformers==5.17.0
uvicorn==0.53.0
google-genai
aiosqlite
slowapi
streamlit
llama-index 
llama-index-llms-google-genai
llama-index-embeddings-huggingface
pandas
openpyxl